{% extends "base/base.html" %}
{% block content-title %} Gestión de Tareas - {{ title }} {% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="id_{{ field.name }}">{{ field.label }}:</label>
                {{ field }}

                {% if field.errors %}
                    <small>
                        {% for error in field.errors %}
                            <p class="text text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    </small>
                {% endif %}

            </div>
        {% endfor %}
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'tareas:tareas_listar' %}" class="btn btn-secondary">Cancelar</a>
        </div>

    </form>
{% endblock %}