{% extends "base/base.html" %}
{% block content-title %} Gestión de Tareas - {{ title }} {% endblock %}


{% block content %}
    <form method="GET">
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}">
        <button type="submit">Filter</button>
    </form>


    <table id="tproyectos" class="table table-bordered table-hover border-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha Lím.</th>
                <th scope="col">Terminada?</th>
                <th scope="col">Prioridad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for t in object_list %}
            <tr>
                <td>{{ t.nombre }}</td> 
                <td data-sort='YYYYMMDD'> {{ t.fecha_limite|date:'d/m/Y' }} </td>
                <td>    {% if t.terminada == True %} <span class="badge bg-success">SI</span>
                        {% else %} <span class="badge bg-danger">NO</span>
                        {% endif %}
                </td>
                <td>{{ t.prioridad.nombre }} </td>
                <td>
                    <a href="{% url 'tareas:tareas_ver' t.id %}" class="btn btn-primary btn-sm"><i class="fa-solid fa-eye"></i></a>
                    <a href="{% url 'tareas:tareas_editar' t.id %}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{% url 'tareas:tareas_eliminar' t.id %}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'tareas:tareas_crear' %}" class="btn btn-primary">Nueva Tarea</a>

{% endblock %}

{% block js %}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#tproyectos').DataTable( {
                "order": [[ 2, 'asc' ], [ 1, 'desc' ]]
            } );
        } );
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}