{% extends "base/base.html" %}
{% block title %} Gestión de Tareas - {{ title }} {% endblock %}
{% block body %}

<div class="card">
    <div class="card-header">
      Mini-TaskSys
    </div>
    <div class="card-body">
      <h5 class="card-title">Mis Tareas</h5>
      
      <table id="tproyectos" class="table table-bordered table-hover border-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha Lím.</th>
                <th scope="col">Prioridad</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for t in tareas %}
            <tr>
                <td>{{ t.nombre }}</td> 
                <td>{{ t.fecha_limite }}</td>
                <td>{{ t.prioridad.nombre }} </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm"><i class="fa-solid fa-eye"></i></button>
                    <a href="{% url 'tareas:tareas_editar' t.id %}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a href="{% url 'tareas:tareas_terminar' t.id %}" class="btn btn-success btn-sm"><i class="fa-solid fa-circle-check"></i></a>
                    <a href="{% url 'tareas:tareas_eliminar' t.id %}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href="{% url 'tareas:tareas_crear' %}" role="button">Nueva Tarea</a>
    </div>
</div>


    
{% endblock %}

{% block js %}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#tproyectos').DataTable();
        } );
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}