{% extends "base/base.html" %}
{% block title %} Gestión de Tareas - {{ title }} {% endblock %}
{% block body %}

<div class="card">
    <div class="card-header">
      Mini-TaskSys
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <form method="post">
        {% csrf_token %}
        <h5>Detalle de la Tarea</h5>
        <ul class="list-group">
          <li class="list-group-item">Nombre: {{ tarea.nombre }}</li>
          <li class="list-group-item">Fecha Límite: {{ tarea.fecha_limite|date:'d/m/Y' }}</li>
          <li class="list-group-item">Prioridad: {{ tarea.prioridad.nombre }}</li>
          <li class="list-group-item">{{ form.as_p }}</li>
        </ul>
        <button type="submit" class="btn btn-success mt-2">Guardar</button>
      </form>
    </div>
    </div>
    
{% endblock %}