{% extends "base/base.html" %}
{% block content-title %} Gestión de Tareas - {{ title }} {% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h2>Detalles de la Tarea</h2>
        <ul class="list-group">
          <li class="list-group-item">Nombre: {{ tarea.nombre }}</li>
          <li class="list-group-item">Fecha Límite: {{ tarea.fecha_limite|date:'d/m/Y' }}</li>
          <li class="list-group-item">Prioridad: {{ tarea.prioridad.nombre }}</li>
          <li class="list-group-item">Terminada: {% if tarea.terminada == True %} <span class="badge bg-success">SI</span>
                        {% else %} <span class="badge bg-danger">NO</span>
                        {% endif %}
          </li>
        </ul>
        <div class="text-center my-2">
            {% if tarea.terminada != True %}
                <button type="submit" class="btn btn-success">Terminar</button>
            {% endif %}
            <a href="{% url 'tareas:tareas_listar' %}" class="btn btn-secondary">Cancelar</a>
        </div>

    </form>
{% endblock %}