{% extends "base/base.html" %}

{% block content-title %}
    Ingreso al Sistema
{% endblock %}

{% block content %}
  <form method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">

      {% if form.errors %}
          <div class="text text-danger text-center">
              {% for error in form.non_field_errors %}
                  <p>{{ error }}</p>
              {% endfor %}
          </div>
      {% endif %}

      <div class="row-sm">

          <div class="form-group">
              <label for="id_{{ form.username.name }}">Usuario</label>
              <input type="text" class="form-control" id="id_{{ form.username.name }}"
                      name="{{ form.username.name }}">

              {% if form.username.errors %}
                  <small>
                      {% for error in form.username.errors %}
                          <p class="text text-danger">{{ error|escape }}</p>
                      {% endfor %}
                  </small>
              {% endif %}
          </div>

          <div class="form-group">
              <label for="id_{{ form.password.name }}">Contraseña</label>
              <input type="password" class="form-control" id="id_{{ form.password.name }}"
                      name="{{ form.password.name }}">

              {% if form.password.errors %}
                  <small>
                      {% for error in form.password.errors %}
                          <p class="text text-danger">{{ error|escape }}</p>
                      {% endfor %}
                  </small>
              {% endif %}
          </div>

      </div>

      <div class="row-sm text-center">
          <button type="submit" class="btn btn-primary">Ingresar</button>
      </div>

  </form>
{% endblock %}